.fullwidth ul.playlist li.with-image, ul.playlist.top li.with-image {
    margin-left: 10px;
}
body {font-family: "Courier New", Courier, monospace}
ul.playlist li .headline  {font-family: "Courier New", Courier, monospace}
ul.playlist li .cover {display: none;}
ul.playlist li.black .headline .roof, ul.playlist li.black .headline .roof a, ul.playlist li.black .headline .roof span {display: none !important;}
ul.playlist li .player-link {margin-top: 7px;}
.privacy {visibility: hidden;}
